[submodule "kernel/build"]
	branch = main
	path = build/kernel
	url = ../build
[submodule "kernel/prebuilts/build-tools"]
	branch = main
	shallow = true
	path = prebuilts/kernel-build-tools
	url = ../prebuilts/build-tools
[submodule "platform/bootable/libbootloader"]
	branch = main
	path = bootable/libbootloader
	url = ../../platform/bootable/libbootloader
[submodule "platform/bootable/recovery"]
	branch = main
	path = bootable/recovery
	url = ../../platform/bootable/recovery
[submodule "platform/build/bazel_common_rules"]
	branch = main
	path = build/bazel_common_rules
	url = ../../platform/build/bazel_common_rules
[submodule "platform/external/arm-trusted-firmware"]
	branch = main
	path = external/arm-trusted-firmware
	url = ../../platform/external/arm-trusted-firmware
[submodule "platform/external/avb"]
	branch = main
	path = external/avb
	url = ../../platform/external/avb
[submodule "platform/external/bazel-contrib-bazel_features"]
	branch = main
	path = external/bazel-contrib-bazel_features
	url = ../../platform/external/bazel-contrib-bazel_features
[submodule "platform/external/bazel-skylib"]
	branch = main
	path = external/bazel-skylib
	url = ../../platform/external/bazel-skylib
[submodule "platform/external/bazelbuild-apple_support"]
	branch = main
	path = external/bazelbuild-apple_support
	url = ../../platform/external/bazelbuild-apple_support
[submodule "platform/external/bazelbuild-bazel-central-registry"]
	branch = main
	path = external/bazelbuild-bazel-central-registry
	url = ../../platform/external/bazelbuild-bazel-central-registry
[submodule "platform/external/bazelbuild-platforms"]
	branch = main
	path = external/bazelbuild-platforms
	url = ../../platform/external/bazelbuild-platforms
[submodule "platform/external/bazelbuild-rules_cc"]
	branch = main
	path = external/bazelbuild-rules_cc
	url = ../../platform/external/bazelbuild-rules_cc
[submodule "platform/external/bazelbuild-rules_java"]
	branch = main
	path = external/bazelbuild-rules_java
	url = ../../platform/external/bazelbuild-rules_java
[submodule "platform/external/bazelbuild-rules_license"]
	branch = main
	path = external/bazelbuild-rules_license
	url = ../../platform/external/bazelbuild-rules_license
[submodule "platform/external/bazelbuild-rules_pkg"]
	branch = main
	path = external/bazelbuild-rules_pkg
	url = ../../platform/external/bazelbuild-rules_pkg
[submodule "platform/external/bazelbuild-rules_python"]
	branch = main
	path = external/bazelbuild-rules_python
	url = ../../platform/external/bazelbuild-rules_python
[submodule "platform/external/bazelbuild-rules_rust"]
	branch = main
	path = external/bazelbuild-rules_rust
	url = ../../platform/external/bazelbuild-rules_rust
[submodule "platform/external/compiler-rt"]
	branch = main
	path = external/compiler-rt
	url = ../../platform/external/compiler-rt
[submodule "platform/external/dtc"]
	branch = main
	path = external/dtc
	url = ../../platform/external/dtc
[submodule "platform/external/elfutils"]
	branch = main
	path = external/elfutils
	url = ../../platform/external/elfutils
[submodule "platform/external/googletest"]
	branch = main
	path = external/googletest
	url = ../../platform/external/googletest
[submodule "platform/external/pigz"]
	branch = main
	path = external/pigz
	url = ../../platform/external/pigz
[submodule "platform/external/rust/crates/arrayvec"]
	branch = main
	path = external/rust/crates/arrayvec
	url = ../../platform/external/rust/crates/arrayvec
[submodule "platform/external/rust/crates/bitflags"]
	branch = main
	path = external/rust/crates/bitflags
	url = ../../platform/external/rust/crates/bitflags
[submodule "platform/external/rust/crates/byteorder"]
	branch = main
	path = external/rust/crates/byteorder
	url = ../../platform/external/rust/crates/byteorder
[submodule "platform/external/rust/crates/cfg-if"]
	branch = main
	path = external/rust/crates/cfg-if
	url = ../../platform/external/rust/crates/cfg-if
[submodule "platform/external/rust/crates/crc32fast"]
	branch = main
	path = external/rust/crates/crc32fast
	url = ../../platform/external/rust/crates/crc32fast
[submodule "platform/external/rust/crates/downcast"]
	branch = main
	path = external/rust/crates/downcast
	url = ../../platform/external/rust/crates/downcast
[submodule "platform/external/rust/crates/either"]
	branch = main
	path = external/rust/crates/either
	url = ../../platform/external/rust/crates/either
[submodule "platform/external/rust/crates/fragile"]
	branch = main
	path = external/rust/crates/fragile
	url = ../../platform/external/rust/crates/fragile
[submodule "platform/external/rust/crates/hex"]
	branch = main
	path = external/rust/crates/hex
	url = ../../platform/external/rust/crates/hex
[submodule "platform/external/rust/crates/itertools"]
	branch = main
	path = external/rust/crates/itertools
	url = ../../platform/external/rust/crates/itertools
[submodule "platform/external/rust/crates/lazy_static"]
	branch = main
	path = external/rust/crates/lazy_static
	url = ../../platform/external/rust/crates/lazy_static
[submodule "platform/external/rust/crates/lz4_flex"]
	branch = main
	path = external/rust/crates/lz4_flex
	url = ../../platform/external/rust/crates/lz4_flex
[submodule "platform/external/rust/crates/managed"]
	branch = main
	path = external/rust/crates/managed
	url = ../../platform/external/rust/crates/managed
[submodule "platform/external/rust/crates/mockall"]
	branch = main
	path = external/rust/crates/mockall
	url = ../../platform/external/rust/crates/mockall
[submodule "platform/external/rust/crates/mockall_derive"]
	branch = main
	path = external/rust/crates/mockall_derive
	url = ../../platform/external/rust/crates/mockall_derive
[submodule "platform/external/rust/crates/predicates"]
	branch = main
	path = external/rust/crates/predicates
	url = ../../platform/external/rust/crates/predicates
[submodule "platform/external/rust/crates/predicates-core"]
	branch = main
	path = external/rust/crates/predicates-core
	url = ../../platform/external/rust/crates/predicates-core
[submodule "platform/external/rust/crates/predicates-tree"]
	branch = main
	path = external/rust/crates/predicates-tree
	url = ../../platform/external/rust/crates/predicates-tree
[submodule "platform/external/rust/crates/proc-macro2"]
	branch = main
	path = external/rust/crates/proc-macro2
	url = ../../platform/external/rust/crates/proc-macro2
[submodule "platform/external/rust/crates/quote"]
	branch = main
	path = external/rust/crates/quote
	url = ../../platform/external/rust/crates/quote
[submodule "platform/external/rust/crates/smoltcp"]
	branch = main
	path = external/rust/crates/smoltcp
	url = ../../platform/external/rust/crates/smoltcp
[submodule "platform/external/rust/crates/spin"]
	branch = main
	path = external/rust/crates/spin
	url = ../../platform/external/rust/crates/spin
[submodule "platform/external/rust/crates/static_assertions"]
	branch = main
	path = external/rust/crates/static_assertions
	url = ../../platform/external/rust/crates/static_assertions
[submodule "platform/external/rust/crates/syn"]
	branch = main
	path = external/rust/crates/syn
	url = ../../platform/external/rust/crates/syn
[submodule "platform/external/rust/crates/termcolor"]
	branch = main
	path = external/rust/crates/termcolor
	url = ../../platform/external/rust/crates/termcolor
[submodule "platform/external/rust/crates/termtree"]
	branch = main
	path = external/rust/crates/termtree
	url = ../../platform/external/rust/crates/termtree
[submodule "platform/external/rust/crates/tinyjson"]
	branch = main
	path = external/rust/crates/tinyjson
	url = ../../platform/external/rust/crates/tinyjson
[submodule "platform/external/rust/crates/unicode-ident"]
	branch = main
	path = external/rust/crates/unicode-ident
	url = ../../platform/external/rust/crates/unicode-ident
[submodule "platform/external/rust/crates/uuid"]
	branch = main
	path = external/rust/crates/uuid
	url = ../../platform/external/rust/crates/uuid
[submodule "platform/external/rust/crates/zerocopy"]
	branch = main
	path = external/rust/crates/zerocopy
	url = ../../platform/external/rust/crates/zerocopy
[submodule "platform/external/rust/crates/zerocopy-derive"]
	branch = main
	path = external/rust/crates/zerocopy-derive
	url = ../../platform/external/rust/crates/zerocopy-derive
[submodule "platform/external/rust/crates/zune-inflate"]
	branch = main
	path = external/rust/crates/zune-inflate
	url = ../../platform/external/rust/crates/zune-inflate
[submodule "platform/external/zlib"]
	branch = main
	path = external/zlib
	url = ../../platform/external/zlib
[submodule "platform/external/zopfli"]
	branch = main
	path = external/zopfli
	url = ../../platform/external/zopfli
[submodule "platform/hardware/interfaces"]
	branch = main
	path = hardware/interfaces
	url = ../../platform/hardware/interfaces
[submodule "platform/packages/modules/Virtualization"]
	branch = main
	path = packages/modules/Virtualization
	url = ../../platform/packages/modules/Virtualization
[submodule "platform/prebuilts/bazel/linux-x86_64"]
	branch = main
	shallow = true
	path = prebuilts/bazel/linux-x86_64
	url = ../../platform/prebuilts/bazel/linux-x86_64
[submodule "platform/prebuilts/build-tools"]
	branch = main
	shallow = true
	path = prebuilts/build-tools
	url = ../../platform/prebuilts/build-tools
[submodule "platform/prebuilts/clang-tools"]
	branch = main
	shallow = true
	path = prebuilts/clang-tools
	url = ../../platform/prebuilts/clang-tools
[submodule "platform/prebuilts/clang/host/linux-x86"]
	branch = main
	shallow = true
	path = prebuilts/clang/host/linux-x86
	url = ../../platform/prebuilts/clang/host/linux-x86
[submodule "platform/prebuilts/fuchsia_sdk"]
	branch = main
	shallow = true
	path = prebuilts/fuchsia_sdk
	url = ../../platform/prebuilts/fuchsia_sdk
[submodule "platform/prebuilts/gcc/linux-x86/host/x86_64-linux-glibc2.17-4.8"]
	branch = main
	shallow = true
	path = prebuilts/gcc/linux-x86/host/x86_64-linux-glibc2.17-4.8
	url = ../../platform/prebuilts/gcc/linux-x86/host/x86_64-linux-glibc2.17-4.8
[submodule "platform/prebuilts/rust"]
	branch = main
	shallow = true
	path = prebuilts/rust
	url = ../../platform/prebuilts/rust
[submodule "platform/system/core"]
	branch = main
	path = system/core
	url = ../../platform/system/core
[submodule "platform/system/libufdt"]
	branch = main
	path = external/libufdt
	url = ../../platform/system/libufdt
[submodule "platform/system/tools/mkbootimg"]
	branch = main
	path = tools/mkbootimg
	url = ../../platform/system/tools/mkbootimg
