/build
/common
/common-modules/virtual-device
/kernel/configs
/hikey-modules
/prebuilts/kernel-build-tools
/kernel/tests
/prebuilts/asuite
/prebuilts/build-tools
/prebuilts-master/clang/host/linux-x86
/tools/mkbootimg
/prebuilts/tradefed
