/prebuilts/kernel-build-tools
/tools/interceptor
/bionic
/build/make pdk
/build/bazel pdk
/build/bazel_common_rules pdk
/build/blueprint
/build/soong
/external/abseil-cpp
/external/avb
/external/bazel-skylib pdk
/external/bazelbuild-kotlin-rules pdk
/external/bazelbuild-rules_android pdk
/external/bazelbuild-rules_license pdk
/external/boringssl
/external/dtc
/external/dwarves
/external/e2fsprogs
/external/elfutils
/external/erofs-utils
/external/expat
/external/fec
/external/fmtlib
/external/go-cmp pdk
/external/golang-protobuf
/external/icu
/external/jemalloc_new
/external/kmod
/external/libabigail
/external/libbpf
/external/libcxx
/external/libcxxabi
/external/libxml2
/external/lz4
/external/pcre
/external/protobuf
/external/python/cpython2
/external/python/cpython3
/external/python/six
/external/selinux
/external/sqlite
/external/squashfs-tools
/external/starlark-go
/external/stg
/external/swig
/external/zlib
/prebuilts/bazel/common pdk
/prebuilts/bazel/darwin-x86_64 darwin pdk
/prebuilts/bazel/linux-x86_64 pdk linux
/prebuilts/build-tools
/prebuilts/clang-tools
/prebuilts/clang/host/linux-x86 linux
/prebuilts/gcc/linux-x86/host/x86_64-linux-glibc2.17-4.8
/prebuilts/go/linux-x86 linux
/prebuilts/jdk/jdk11 pdk
/prebuilts/ninja/linux-x86 linux
/system/core
/system/extras
/system/libbase
/tools/libufdt
/system/logging
/system/security
/system/tools/aidl
/system/tools/mkbootimg
